* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}
.header-outer
{
    display: flex;
    height: 90px;
    background-color:#FAFAF8;
    justify-content: center;
    gap: 11px;
    align-items: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.header-outer > img{
    height: 50px;
}

.header-outer > span{
    font-size: 2rem;
}